﻿body {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

/*body/main elements*/

.row {
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 10px;
}


/*body/main elements*/


/***********************/
/* sidebar content*/
/***********************/
#wrapper {
	padding-left: 70px;
	transition: all .4s ease 0s;
	height: 100%;
}


/* Open */
#sidebar-wrapper {
	left: 0px;
	background: #004F8B;
	border-color: #fff;
	position: absolute;
	height: 100%;
	z-index: 10000;
	margin-top: 25px;
	margin-top: 40px;
	-webkit-transition: border 0.3s ease-out 0.3s;
	-moz-transition: border 0.3s ease-out 0.3s;
	-o-transition: border 0.3s ease-out 0.3s;
	transition: border 0s ease-out 0s;
}

.active #sidebar-wrapper {
	border-right: 3px solid #2A3F54;
	-webkit-transition: border 0s ease-out 0s;
	-moz-transition: border 0s ease-out 0s;
	-o-transition: border 0s ease-out 0s;
	transition: border 0s ease-out 0s;
	background-color: #004F8B;
}
/* Closed */
.inactive #sidebar-wrapper {
	margin-left: 0px;
	left: 0px;
	left: 0px;
	border-right: 3px solid #2A3F54;
	-webkit-transition: border 0s ease-out 0s;
	-moz-transition: border 0s ease-out 0s;
	-o-transition: border 0s ease-out 0s;
	transition: border 0s ease-out 0s;
	background-color: #fff;
}

.inactive .sidebar-nav {
	-webkit-transition: border 0s ease-out 0s;
	-moz-transition: border 0s ease-out 0s;
	-o-transition: border 0s ease-out 0s;
	transition: border 0s ease-out 0s;
}

	.inactive #sidebar_menu a, .inactive .sidebar-nav a {
		width: 50px;
		-webkit-transition: border 0s ease-out 0s;
		-moz-transition: border 0s ease-out 0;
		-o-transition: border 0s ease-out 0;
		transition: border 0s ease-out 0s;
	}

	.inactive .sidebar-nav .fa-caret-down {
		display: none;
	}

	.inactive #sidebar_menu a em, .inactive .sidebar-nav a em {
		width: 0px;
		overflow: hidden;
		display: block;
		position: absolute;
	}

.inactive #sidebar-wrapper .glyphicon {
}

.inactive #sidebar_menu a, .inactive .sidebar-nav a, .inactive .sidebar-nav {
	-webkit-transition: border 0s ease-out 0s;
	-moz-transition: border 0s ease-out 0s;
	-o-transition: border 0s ease-out 0s;
	transition: border 0s ease-out 0s;
}
/* Closed END */
.sidebar-nav {
	display: block;
	margin: 0;
	padding: 0;
	border-right: 3px solid #fff;
	background: #337ab7;
	height: 100%;
	border-radius: 0px;
}
/* Let's get this party started */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #2A3D58;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

	::-webkit-scrollbar-thumb:window-inactive {
		background: #fff;
	}

#sidebar_menu a, .sidebar-nav a {
	color: #fff;
	display: block;
	text-decoration: none;
	background: #337ab7;
	font-size: 16px;
}

#sidebar.sidebar-nav a {
	padding: 20px 0px 20px;
	line-height: initial;
	border: none;
}

#sidebar.sidebar-nav a {
	padding: 20px 0px 20px;
	line-height: initial;
	border: none;
	margin-left: -20px;
}

#sidebar_menu {
	border: none;
}

.sidebar_name {
	padding-top: 25px;
	color: #fff;
	opacity: .7;
}

.sidebar-nav {
	text-indent: 35px;
}

	.sidebar-nav a {
		color: #fff;
		display: block;
		text-decoration: none;
		cursor: pointer;
		border: #ddd 1px solid;
	}

		.sidebar-nav a:hover {
			color: #808080;
			background: #fafafa;
			border: #ddd 1px solid;
			text-decoration: none;
		}

}

.sidebar-nav a:active,
.sidebar-nav a:focus {
	text-decoration: none;
}



.sidebar-nav > .sidebar-brand {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
}

	.sidebar-nav > .sidebar-brand a {
		color: #999999;
	}

		.sidebar-nav > .sidebar-brand a:hover {
			color: #fff;
			background: none;
		}

.sub_icon, #main_icon {
	float: left;
	padding-right: 0px;
	cursor: pointer;
}




#main_icon {
	cursor: pointer;
}

#MainMenu em {
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	text-transform: none;
}



/*top nav*/

.navbar-bright {
	background-color: #eee;
	color: #fff;
	border-bottom: 2px solid #fff;
	min-height: 68px;
}

	.navbar-bright a, #masthead a, #masthead .lead {
		color: #808080;
	}

	.navbar-bright li > a:hover {
		background-color: #eee;
	}

.affix-top, .affix {
	position: static;
}
/*top nav*/

/*padding styles*/

.padding_Top30 {
	padding-top: 30px;
}

.padding_Top70 {
	padding-top: 70px;
}
/*padding styles*/

/*custom icons for notification bar */

.sidebar .sidebar-nav.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.sidebar .sidebar-search {
	padding: 15px;
}

.sidebar {
	border-bottom: 1px solid #e7e7e7;
}

	.sidebar ul li a.active {
		background-color: #eeeeee;
	}

	.sidebar .arrow {
		float: right;
	}

	.sidebar .fa.arrow:before {
		content: "\f104";
	}

	.sidebar .active > a > .fa.arrow:before {
		content: "\f107";
	}

	.sidebar .nav-second-level li,
	.sidebar .nav-third-level li {
		border-bottom: none !important;
	}

		.sidebar .nav-second-level li a {
			padding-left: 37px;
		}

		.sidebar .nav-third-level li a {
			padding-left: 52px;
		}


.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

#MenuSpacer {
	background-color: #222222;
	margin: 0px !important;
	padding: 0px !important;
}

#sidebarWidth {
	padding-right: 0px;
	padding-left: 0px;
	overflow: auto;
	height: 92vh;
}

#fullWindowContainer {
	background: white;
}


/*custom icons for notification bar */

#sidebar-wrapper.sidebar-toggle {
	transition: all 0.3s ease-out;
	margin-left: -250px;
}



.submenu-heading {
	padding: 15px;
	cursor: pointer;
}

	.submenu-heading h4 {
		margin: 0;
	}

	.submenu-heading:hover {
		background: rgba(255, 255, 255, .5);
		color: rgba(0, 0, 0, .6);
	}

.submenu .list-group {
	margin: 0;
}

.submenu .list-group-item {
	border-radius: 0;
	background: rgba(0, 0, 0, .07);
	border: 0;
	color: white;
	padding: .75em 1.7em;
}

ul, ol {
	list-style: none;
}

#accordion1 .panel {
	margin-bottom: 0px;
}

ul#sidebar {
	margin-left: -40px;
}

	ul#sidebar a {
		background: #fff;
	}

.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#MainMenu .glyphicon-user + .fa-caret-down, #MainMenu .glyphicon-check + .fa-caret-down {
	position: absolute;
	right: 30px;
	bottom: 25px;
}
/***********************************************************************************/
#MainMenu .submenu a {
	background-color: #f6f6f6;
	color: #7a7a7a;
	text-indent: 55px;
	line-height: 1.5em;
}


	#MainMenu .submenu a:hover:focus {
		color: #918C8C;
		background-color: #eee;
	}

	#MainMenu .submenu a.activeSub {
		z-index: 2;
		color: #7a7a7a;
		background-color: #fff;
		border-color: #fff;
	}

#MainMenu .submenu, #MainMenu .submenu.collapse in {
	border-top: 2px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #f6f6f6;
	color: #555;
}

.navbar-fixed-bottom, .navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000000;
}

.navbar-brand {
	line-height: 30px;
}


span.glyphicon.glyphicon-home {
	float: left;
	padding-top: 5px;
}


.box::after {
	border-left: 1px solid #7a7a7a;
	bottom: 0;
	content: "";
	left: 43.5px;
	position: absolute;
	top: 0;
}

.box::before {
	background: #7a7a7a;
	bottom: auto;
	content: "";
	height: 8px;
	left: 40px;
	margin-top: 15px;
	position: absolute;
	right: auto;
	width: 8px;
	z-index: 1;
	border-radius: 50%;
	top: 12px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.box::after {
		left: 43.4px;
	}

	.box::before {
		left: 40px;
	}

	span.main-icon.fa {
		margin-top: 4px;
	}
}

.panel {
	margin-bottom: 0px;
}

.list-group .panel:active {
	border-right: 3px solid #2A3F54;
}

#MainMenu .submenu :hover {
	background: #fff;
	color: #7a7a7a;
}

.panel {
	border-left: none;
	border-bottom: none;
}

.LoginButtonPadd {
	padding-top: 20%;
}

.LoginIconMargin {
	margin-right: 10px;
	margin-top: 3px;
}

.NavNegMargin12 {
	margin-left: -12px;
}

.NavNegMargin15 {
	margin-left: -15px;
}

#MainMenu a.list-group-item:active {
	color: #808080;
	background: #f6f6f6;
}

#MainMenu a.list-group-item:focus {
	color: #808080;
	background: #f6f6f6;
}

.main-icon {
	width: 30px;
	float: left;
}

/*header Styles..*/

.contactButton {
	float: right;
	margin-right: 5px;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #2A3D58;
	color: #2A3D58;
	height: 50px;
	width: 50px;
	font-weight: 600;
	border-radius: 49px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: -15px;
}

	.contactButton:hover {
		float: right;
		margin-right: 5px;
		font-size: 14px;
		margin-right: -15px;
		background-color: #004F88;
		border: 1px solid #004F88;
		color: #fff;
	}

.LoginAlias {
	height: 50px;
	width: 50px;
	background: white;
	border-radius: 49px;
	border: 1px solid #2A3D58;
	color: #2A3D58;
	padding-top: 15px !important;
	padding-left: 8px;
	font-size: 18px !important;
	margin-right: 2px !important;
	margin-bottom: 9px;
}

	.LoginAlias:hover {
		background-color: #004F88;
		border: 1px solid #004F88;
		color: #fff;
	}

/*Login Styles..*/
.LoggedOutButton {
	font-weight: 600;
}

	.LoggedOutButton:hover {
		font-weight: 600;
	}

a.LoggedOutButton {
	font-weight: 600;
	padding: 5px;
	margin-bottom: 9px;
	margin-left: -20px;
}

	a.LoggedOutButton:hover {
		font-weight: 600;
		padding: 5px;
		margin-bottom: 9px;
		margin-left: -20px;
	}

.LoggedOutButtonDropDown {
	background: #fff;
	color: #2A3D58;
	text-transform: capitalize;
	font-size: 14px;
	padding-top: 5px;
	display: none;
	width: auto;
	text-align: center;
	border: 1px solid #4a90e2;
	margin-top: -10px;
	height: auto;
	vertical-align: middle;
}

	.LoggedOutButtonDropDown:hover {
		background: #fafafa;
		color: #2A3D58;
		border: 1px solid #2A3D58;
	}

.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

	.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
		outline: none;
		outline-offset: none;
		color: #2A3F54;
	}

.fa-caret-down::before {
	content: "";
	margin-left: 0px;
}

#clientMenuHeader > em {
	padding-right: 45px;
}

#maintenanceMenuHeader > em {
	padding-right: 24px;
}

#contractingpartyMenuHeader > em {
	padding-right: 62px;
}

.PaddingLeft15 {
	padding-right: 15px;
}

.MarginLeft {
	margin-left: 15px;
}

#UserName_377f2ae9-b061-4488-9507-d86c4cbd501e {
	margin-left: 10px;
}

#Form2 > div.page-container > div > div.col-md-12.PaddingTop60 > div > fieldset > div:nth-child(2) > label {
	margin-left: 10px;
}

@media screen and (min-width:768px) and (max-width:1110px) {
	#MainMenu .submenu a {
		line-height: 1.5em;
		width: 250px;
	}
}

.fa.fa-caret-down {
	float: right;
	padding-right: 15px;
}

span.sub-icon.fa {
	font-size: 18px;
}

span.main-icon.fa {
	font-size: 18px;
}

.sub-icon {
	float: left;
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.bg-gradient-9 {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c));
	background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
	background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
	background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
	background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#008fe2', endColorstr='#00b29c', GradientType=1);
}

.topnavbar .navbar-header {
	background-color: transparent;
	background-image: linear-gradient(90deg,#23b7e5 0,#51c6ea);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff23b7e5",endColorstr="#ff51c6ea",GradientType=1);
}
